.footer_container{
    background-color: rgba(162.264, 246.263, 121.88, 1)!important;
    display: flex;
    flex-direction: row!important;
    align-items: center!important;
    justify-content: space-between;
    position:absolute;
    bottom:100px;
}


.footer_container_2{
    display: none!important;
}

@media screen and (max-width: 1000px) {

    .footer_container{
        display: none!important;
    }

    .footer_container_2{
        display: block!important;
    }
}