.header_container, .header_container_2{
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header_container_2{
    display: none!important;
}

.burger_icon:hover{
    cursor: pointer;
}

.logout_button:hover{
    cursor:pointer;
}

#menu_shown_not_shown,
#menu_shown_not_shown a{
    color:rgba(162.264, 246.263, 121.88, 1)!important
}

.bg_container{
}

.menu_shown{
    position:fixed;
    padding-left:30px!important;
    bottom: 0;
    opacity: 1;
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(230, 255, 215, 1) 50%, rgba(162.264, 246.263, 121.88, 1) 100%);
    box-shadow: -5px 0 10px rgba(230, 255, 215, 0.8);
    right:0;
    width: 30vw;
    height: 100%;
    z-index: 2;
    border-radius: 10px 0px 0px 10px;
    animation: slideInFromRight 0.5s ease-in forwards;
}

.menu_not_shown{
    position:fixed;
    display: none;
    opacity: 0;
    padding-left:30px!important;
    bottom: 0;
    right:-300px;
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(230, 255, 215, 1) 50%, rgba(162.264, 246.263, 121.88, 1) 100%);
    box-shadow: -5px 0 10px rgba(230, 255, 215, 0.8);
    width: 30vw;
    height: 100%;
    z-index: 2;
    border-radius: 10px 0px 0px 10px;
    animation: slideOutFromLeft 0.5s ease-in forwards;
}

@media screen and (max-width: 1000px) {

    .header_container{
        display: none!important;
    }

    .header_container_2{
        display: flex!important;
    }
}

@keyframes slideInFromRight {
    0% {
        opacity: 0;
      right: -300px;
      display: none!important;
    }
    100% {
        opacity: 1;
      right: 0;
      display: block!important;
    }
  }

  @keyframes slideOutFromLeft {
      0% {
        opacity: 1;
        right: 0;
        display: block!important;
      }
      100% {
        opacity: 0;
        right: -300px;
        display: none!important;
      }
    }

.header_container_3 img{
    margin-bottom: 50px!important;
}

.header_container_3{
    background: linear-gradient(to right, rgba(162.264, 246.263, 121.88, 1) 0%, rgba(230, 255, 215, 1) 50%, rgba(255, 255, 255, 1) 100%);
    width:400px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding:40px 20px!important;
}