*{
    margin:0!important;
    padding:0!important;
    font-family: 'Rubik', sans-serif!important;
    overflow-x:hidden!important;
}

body{
  padding:0!important;
  height:fit-content!important;
}



.component_content{
  width: 100%;
  height: 100vh!important;
  padding-top: 40px!important;
  padding-bottom: 40px!important;
  padding-right: 40px!important;
}

.clickable:hover{
  cursor: pointer;
}

.table{
  overflow-y: auto!important;
}

.component_content th{
    color:rgba(162.264, 246.263, 121.88, 1)!important
}

.component_content tr{
  height: 30px!important;
}

.component_content td{
  display: table-cell;
  vertical-align: middle;
  color: rgb(180, 180, 180)!important;
}

td .delete-icon {
  height: 20px!important;
}


td img {
  height: 100px!important;
}

.full-height{
  max-height: 100vh!important;
}

.half-full-height{
  max-height: 50vh!important;
}

td img:hover {
  cursor: pointer!important;
}

a{
  color:white!important;
  text-decoration:none!important;
}


.logo_image{
  width: 100px;
}

/* scrollbar styling */
/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  

  
.hero_wrapper_1{
  height:30vh;
  border-color:  rgba(162.264, 246.263, 121.88, 1);
  background-color: rgba(162.264, 246.263, 121.88, 1);
  margin-top:10px;
  padding:0;
}



.hero_wrapper_2{
  border-color:  rgba(162.264, 246.263, 121.88, 1);
  position: absolute!important;
  display: flex;
  flex-direction: row;
  top:calc(100vw - 85vw);
}

.hero_wrapper_2 h3{
  color:white;
  display: inline!important;
}

.hero_wrapper_1, .hero_wrapper_2, .home_container_1{
  padding:10px 20px!important;
}


.hero_image_1{
  width:40vw;
  height:400px
}

.hero_wave_1, .hero_wave_2{
  width:100%
}

.hero_wave_2{

  z-index: 1;
  position: absolute;
  bottom:100;
  margin-top: 100px!important;
  height: 100px!important;
}

.home_container_1  h1{
  color:  rgba(162.264, 246.263, 121.88, 1);
}

.home_wrapper_1{
  display: flex;
  flex: 1 4!important;
  flex-direction: row;
  gap:30%;
}


.home_wrapper_1 p{
  font-size: 20px;
  margin-top: 40px!important;
}


#home_wrapper_1_image{
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.home_container_2{
  margin-top: 40px!important;
}

.home_wrapper_2{
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr; */
  gap:40px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  margin-top: 40px!important;
}

.home_wrapper_2  span{
  display: inline;
  background-color: rgba(162.264, 246.263, 121.88, 1);
  border-radius:
  10% 56% 52% 22% / 0% 40% 0% 32%;
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color:white;
  font-size:18px;
}

@media screen and (max-width: 1000px) {

  .hero_image_1{
      width:20vw;
      height:20vw
  }

  #heroText{
      font-size: 16px;
  }

  .home_wrapper_1{
      margin-bottom: 120px!important;
  }

  .home_wrapper_1 p{
      font-size: 14px!important;
  }
  
  h1{
      font-size: 26px;
  }
}



@media screen and (max-width: 600px) {

  .hero_wrapper_2{
    margin: 40px!important;
      flex-direction: column!important;
      align-items: center;
      justify-content: center;
  }

  #heroText{
      font-size: 16px!important;
  }

  .hero_image_1{
    margin-top: 20px!important;
    margin-bottom: 100px!important;
      width:200px;
      height:200px;
  }

  .home_container_1{
    margin:100px 0 !important;
  }

  .home_wrapper_1{
    padding: 40px 0!important;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center!important;
    align-items: center!important;
  }

  .home_wrapper_1 p {
    margin-top: 60px!important;
  }

  #home_wrapper_1_image{
    width: 50%!important;
    height: 50%!important;
  }
  

  .home_container_2 h1{
    margin-bottom: 40px!important;
  }

  .home_wrapper_2  span{
    width: 100%;
    border-radius:
    10% 22% 52% 22% / 0% 40% 0% 50%;
  }
}