
.hero_wrapper_1{
    height:30vh;
    border-color:  rgba(162.264, 246.263, 121.88, 1);
    background-color: rgba(162.264, 246.263, 121.88, 1);
    margin-top:10px;
    padding:0;
}



.hero_wrapper_2{
    border-color:  rgba(162.264, 246.263, 121.88, 1);
    position: absolute!important;
    display: flex;
    flex-direction: row;
    top:calc(100vw - 85vw);
}

.hero_wrapper_2 h3{
    color:white;
    display: inline!important;
}

.hero_wrapper_1, .hero_wrapper_2, .home_container_1{
    padding:10px 20px!important;
}


.hero_image_1{
    width:40vw;
    height:400px
}

.hero_wave_1, .hero_wave_2{
    width:100%
}

.hero_wave_2{

    z-index: 1;
    position: absolute;
    bottom:100;
    margin-top: 100px!important;
    height: 100px!important;
}

.home_container_1  h1{
    color:  rgba(162.264, 246.263, 121.88, 1);
}

.home_wrapper_1{
    display: flex;
    flex-direction: row;
    gap:30%;
}


.home_wrapper_1 p{
    font-size: 20px;
    margin-top: 40px!important;
}


#home_wrapper_1_image{
    width: 300px!important;
    height:400px!important;
    object-fit: cover!important;
    border-radius: 10px;
}

.home_container_2{
    margin-top: 40px!important;
}

.home_wrapper_2{
    display: grid;
    grid-template-columns: auto auto auto;
    margin-top: 40px!important;
}

.home_wrapper_2  span{
    display: inline;
    background-color: rgba(162.264, 246.263, 121.88, 1);
    border-radius:
    10% 56% 52% 22% / 0% 40% 0% 32%;
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color:white;
    font-size:18px;
}

@media screen and (max-width: 1000px) {

    .hero_image_1{
        width:20vw;
        height:20vw
    }

    #heroText{
        font-size: 16px;
    }

    .home_wrapper_1{
        margin-bottom: 120px!important;
    }

    .home_wrapper_1 p{
        font-size: 14px!important;
    }
    
    #home_wrapper_1_image{
        width: 150px!important;
        height:200px!important;    
    }

    h1{
        font-size: 26px;
    }
}
